body {
	background-color: #1e1e1e;
}

pre {
	padding-left: 10%;
}

h1.code-title {
	font-family: "Lucida Console", Monaco, monospace;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	margin: auto;
	padding: 1%;
}

span.comment {
	color: #6bb75e;
}

span.constant {
	color: #b5cea8;
}

span.string {
	color: #d69d85;
}

span.function {
	color: #dcdcaa;
}

span.namespace {
	color: #ff000d;
}

span.identifier {
	color: #92dcfe;
}

span.keyword {
	color: #569cd6;
}

span.operator {
	color: #97aeb4;
}

span.flow {
	color: #d8a0df;
}